@model FacultyListViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div id="testing2"></div>
<div class="text-center">
    <h1 class="display-4">Изпитни Сесии</h1>
    <p>Моля изберете Вашият факултет</p>
    <select id="mySelect" style="width:600px" onchange="changeSelect()">
        <option value="--Избери--">--Избери--</option>
        @foreach (var item in Model.FacultyViewModels)
        {
            <option value="@item.Name">@item.Name</option>
        }
    </select>
    <br />
    <br />
    <br />
    <div id="showhide" style="display:none">

        <table class="table table-bordered table-striped">
            <thead style="padding-bottom:150px">
                <tr>
                    <th scope="col">Учебна Година</th>
                    <th scope="col">Сесия</th>
                    <th scope="col">Факултет</th>
                    <th scope="col">Курс</th>
                    <th scope="col">Изтегли</th>
                </tr>
            </thead>
            <tbody id="insertinghere">
            </tbody>

            <tbody id="insertinfohere">
            </tbody>
        </table>
    </div>
</div>

<div  style="display:none" id="testagain"></div>
<script src="~/js/html2canvas.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="~/js/FacultyExam.js"> </script>
